@model IEnumerable<BlogMVC.Blog>

@{
    ViewBag.Title = "Food";
}

<h2>Food Articles</h2>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCategory)
            </td>
            <td>
                <a href=@(item.BUrl) target="_blank">Read Article</a>

            </td>

        </tr>
    }

</table>
